@page 
@model EFWeb.Pages_Blog.DetailsModel

@{
    ViewData["Title"] = Model.Article.Title;
}

<h1>@Model.Article.Title</h1>
<p><i>@Html.DisplayFor(model => model.Article.Created)</i></p>
<hr />
@Html.Raw(Model.Article.Content)
<hr />
<div>
    <a asp-page="./Edit" class="btn btn-primary" asp-route-search="@Model.queryHttps.SearchBlog"
        asp-route-p="@Model.queryHttps.CurrentPage" asp-route-id="@Model.Article.Id">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary" asp-route-p="@Model.queryHttps.CurrentPage"
       asp-route-search="@Model.queryHttps.SearchBlog">Go Back</a>
</div>
